* {
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
header {
	height:70px;
	border:1px solid;
}
header h1 {
	border:1px solid;
	display: inline-block;
	padding:13px 23px;
	float: left;
	text-transform: uppercase;
}
header h1 a {
	transition: 0.3s;
}
header h1 a:hover {
	color:#FF5733;
}
header ul {
	border:1px;
	float: right;
}
header ul li {
	border:1px solid;
	padding:24px;
	display: inline-block;
}
header ul li a {
	transition: 0.3s;
}
header ul li a:hover {
	color:#FF5733;
}
* {
	text-decoration: none;
}
.container {
	width:90%;
	margin:0 auto;
	border:1px solid;
}
.container:after {
	content: '';
	display: block;
	clear: both;
}
.menu-mobile {
	float: right;
	display: none;
	padding:18px;
	border: 1px solid;
}
.menu-mobile:hover{
	cursor: pointer;
}
#check {
	display: none;
}
.slidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: rgba(60, 199, 251, 0.9);
	transition: 0.3s;
}
.slidebar ul li a {
	color: white;
}
.slidebar ul li {
	padding: 24px;
	transition: 0.3s;
	transition-property:background-color;
}
.slidebar ul li:hover {
	background-color:#FB783C;
}
#check:checked ~ .slidebar {
	left:0;
}

@media (max-width: 768px){
	.menu-mobile {
		display: block;
	}
	header ul {
		display: none;
	}
}