* {
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
header {
	height:70px;
	border:1px solid;
}
header h1 {
	border:1px solid;
	display: inline-block;
	padding:13px 23px;
	float: left;
	text-transform: uppercase;
}
header h1 a {
	transition: 0.3s;
}
header h1 a:hover {
	color:#FF5733;
}
header ul {
	border:1px;
	float: right;
}
header ul li {
	border:1px solid;
	padding:24px;
	display: inline-block;
}
header ul li a {
	transition: 0.3s;
}
header ul li a:hover {
	color:#FF5733;
}
* {
	text-decoration: none;
}
.container {
	width:90%;
	margin:0 auto;
	border:1px solid;
}
.container:after {
	content: '';
	display: block;
	clear: both;
}